@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: #2b2846;
}

body {
  background-color: #F3F2F3;
}

header {
  background-color: white;
}

button, input {
  background: none;
  border: none;
  outline: none;
}
button:focus, input:focus {
  outline: none;
}

ul, li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  padding: 12px 24px;
  color: #2b2846;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border-radius: 48px;
  cursor: pointer;
}

.nav {
  border-bottom: 5px solid #f7d5ae;
  position: relative;
}
.nav:after {
  content: " ";
  position: absolute;
  width: 100%;
  display: inline-block;
  bottom: 8px;
  left: 0;
  border-bottom: 5px solid #f7d5ae;
}
.nav-content {
  display: flex;
  align-items: center;
  gap: 47px;
  padding: 36px 0;
}
.nav-logo {
  padding: 0px 0;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-link_item {
  font-size: 16px;
  text-transform: uppercase;
}

.nav-burger {
  display: none;
}

@media screen and (max-width: 1280px) {
  .nav .container {
    padding-left: 36px;
    padding-right: 36px;
  }
  .nav-content {
    flex-wrap: wrap;
    gap: 30px;
    padding: 36px 0;
  }
  .nav-logo {
    padding: 0 0 16px 0;
  }
}
@media screen and (max-width: 1024px) {
  .nav-content {
    gap: 20px;
  }
  .nav-link_item {
    font-size: 14px;
  }
}
@media screen and (max-width: 790px) {
  .nav-content {
    gap: 0px;
    flex-wrap: wrap;
    padding: 36px 0;
  }
}
@media screen and (max-width: 790px) {
  .nav-logo {
    padding: 0;
  }
  .nav-content {
    justify-content: space-between;
  }
  .nav-link {
    display: none;
  }
  .nav-burger {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .nav .container {
    padding: 0 20px;
  }
  .nav-content {
    padding: 20px 0;
  }
}
.hero-content {
  padding-top: 78px;
  padding-bottom: 50px;
}
.hero-title {
  max-width: 650px;
  font-size: 32px;
  font-weight: 700;
  line-height: 42.66px;
  color: #2b2846;
}
.hero-text {
  color: #2b2846;
  padding-top: 32px;
  max-width: 650px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
}
.hero-btn {
  padding: 12px 24px;
  color: #2b2846;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border-radius: 48px;
  cursor: pointer;
  margin-top: 32px;
}

@media screen and (max-width: 1280px) {
  .hero-content {
    padding-top: 38px;
  }
}
@media screen and (max-width: 1024px) {
  .hero-title {
    font-size: 28px;
    line-height: 37.32px;
  }
  .hero-text {
    line-height: 20px;
  }
}
@media screen and (max-width: 365px) {
  .hero-content {
    padding-top: 20px;
  }
  .hero-title {
    font-size: 28px;
    line-height: 37.32px;
  }
  .hero-text {
    line-height: 20px;
  }
}
.news {
  background-image: url("../../assets/background/img.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: 100%;
  height: 490px;
}
.news-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 36%;
  padding-top: 178px;
  position: relative;
  padding-bottom: 48px;
}
.news .news-right-img {
  position: absolute;
  z-index: 2;
  padding-top: 108px;
}
.news-right-card {
  background-color: rgba(0, 0, 0, 0.85);
  width: 420px;
  margin-bottom: 202px;
  position: absolute;
  margin-top: 439px;
  margin-left: 135px;
}
.news-right-card_item {
  background-color: rgb(255, 70, 70);
  padding: 4px 8px;
  text-align: center;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.56px;
  color: rgb(255, 255, 255);
  margin-top: 46px;
  margin-left: 241px;
}
.news-right-card-text {
  padding-top: 10px;
  padding-bottom: 45px;
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(255, 255, 255);
  width: 194px;
  margin-left: 183px;
  margin-right: 80px;
}
.news-right-card-btn {
  padding: 12px 24px;
  color: #2b2846;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border-radius: 48px;
  cursor: pointer;
  margin-left: 206px;
}

@media screen and (max-width: 1400px) {
  .news-right-img {
    width: 500px;
  }
}
@media screen and (max-width: 1280px) {
  .news-right-img {
    width: 400px;
  }
  .news-right-card-btn {
    margin-top: -20px;
    font-size: 14px;
  }
  .news-right-card_item {
    margin-top: 8px;
  }
  .news-right-card-text {
    margin-left: 200px;
    line-height: 20px;
    font-size: 24px;
  }
}
@media screen and (max-width: 970px) {
  .news-right-card {
    margin-left: 154px;
    width: 320px;
    margin-top: 390px;
  }
  .news-right-img {
    width: 300px;
  }
  .news-right-card-btn {
    margin-top: -20px;
    font-size: 12px;
    margin-left: 122px;
  }
  .news-right-card_item {
    margin-top: 6px;
    margin-left: 138px;
  }
  .news-right-card-text {
    line-height: 20px;
    font-size: 22px;
    padding-right: 60px;
    margin-left: 116px;
  }
}
@media screen and (max-width: 885px) {
  .news-right-card {
    margin-left: 82px;
    width: 210px;
    margin-top: 390px;
  }
  .news-right {
    padding-left: 22%;
  }
  .news-right-img {
    width: 190px;
    padding-top: 220px;
  }
  .news-right-card-btn {
    font-size: 12px;
    margin-left: 80px;
    font-size: 12px;
    padding: 10px 12px;
  }
  .news-right-card_item {
    margin-top: 6px;
    margin-left: 90px;
    font-size: 10px;
  }
  .news-right-card-text {
    line-height: 16px;
    font-size: 18px;
    padding-right: 60px;
    margin-left: 74px;
  }
  .news {
    height: 226px;
  }
  .news-right {
    padding-top: 0;
  }
}
@media screen and (max-width: 760px) {
  .news .news-right-img {
    position: absolute;
    z-index: 2;
    padding-top: 136px;
    width: 130px;
  }
  .news-right-card {
    width: 150px;
  }
  .news-right {
    padding-left: 0%;
  }
  .news-right-card-text {
    font-size: 12px;
    line-height: 18px;
    margin-left: 36px;
  }
  .news-right-card_item {
    margin-left: 60px;
  }
  .news-right-card-btn {
    margin-left: 44px;
  }
  .news-right-card {
    margin-top: 486px;
  }
}
@media screen and (max-width: 415px) {
  .news {
    height: 130px;
  }
  .news-right-card {
    display: none;
  }
  .news-right-img {
    padding-top: 226px;
  }
  .news-right {
    padding-left: 32%;
  }
}
.emal {
  padding-top: 64px;
}
.emal-content {
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 76px;
  padding-right: 76px;
}
.emal-left {
  width: 800px;
}
.emal-left img {
  width: 100%;
  height: 372px;
}
.emal-right {
  padding-left: 50px;
}
.emal-right-title {
  padding-top: 26px;
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 700;
  line-height: 39.99px;
}
.emal-right-text {
  padding-top: 22px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
}
.emal-right-bottom {
  max-width: 630px;
  justify-content: space-between;
  padding-top: 26px;
  display: flex;
  padding-bottom: 16px;
}
.emal-right-bottom-icon-text {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 1280px) {
  .emal-content {
    padding-left: 0;
    padding-right: 0;
  }
  .emal-right-bottom {
    padding-top: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .emal {
    padding-top: 36px;
  }
  .emal-right {
    padding-left: 48px;
  }
  .emal-right-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 790px) {
  .emal {
    padding-top: 36px;
  }
  .emal-right {
    padding-left: 20px;
  }
  .emal-right-bottom {
    padding-top: 10;
  }
  .emal-right-title {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .emal-content {
    display: flex;
    flex-direction: column;
  }
  .emal-left-img {
    text-align: center;
    max-width: 400px;
  }
  .emal-left {
    width: 100%;
    text-align: center;
  }
  .emal-right {
    padding-left: 0px;
  }
  .emal-right-bottom {
    display: flex;
    flex-wrap: wrap;
  }
  .emal-right-bottom-icon {
    padding-bottom: 32px;
  }
  .emal-right-title {
    padding-top: 32px;
  }
}
.emal-title {
  height: 11px;
  border-top: 3px solid #f7d5ae;
  border-bottom: 3px solid #f7d5ae;
  position: relative;
}
.emal-title::after {
  content: "Умная эмаль";
  font-size: 32px;
  font-weight: bold;
  padding: 0 32px;
  background: #F1F0F1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.catalog-title {
  height: 11px;
  border-top: 3px solid #f7d5ae;
  border-bottom: 3px solid #f7d5ae;
  position: relative;
}
.catalog-title::after {
  content: "Каталог";
  font-size: 32px;
  font-weight: bold;
  padding: 0 32px;
  background: #F1F0F1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.shopping-title {
  height: 11px;
  border-top: 3px solid #f7d5ae;
  border-bottom: 3px solid #f7d5ae;
  position: relative;
}
.shopping-title::after {
  content: "Где купить";
  font-size: 32px;
  font-weight: bold;
  padding: 0 32px;
  background: #F1F0F1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.complex {
  padding-top: 64px;
  padding-bottom: 43px;
}
.complex-content {
  display: flex;
}
.complex-left {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.complex-left-card {
  background-color: rgb(255, 255, 255);
  width: 222px;
  padding: 0 42px;
}
.complex-left-card-img {
  padding-top: 16px;
  padding-left: 42px;
  padding-right: 42px;
}
.complex-left-card-text {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 168px;
}
.complex-left-card-btn {
  text-align: center;
  margin-top: 21px;
  margin-bottom: 20px;
}
.complex-left-card-btn button {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.32px;
  border: 2px solid rgb(204, 157, 105);
  border-radius: 6px;
  color: rgb(204, 157, 105);
  padding: 8px 12px;
}
.complex-right {
  padding-top: 46px;
}
.complex-right-text {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  margin-bottom: 24px;
  padding-left: 74px;
}
.complex-right-btn {
  padding: 12px 24px;
  color: #2b2846;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border-radius: 48px;
  cursor: pointer;
  margin-left: 74px;
}

@media screen and (max-width: 1335px) {
  .complex-right {
    padding-top: 0;
  }
  .complex-right-text {
    padding-left: 40px;
  }
}
@media screen and (max-width: 1240px) {
  .complex-left {
    display: flex;
    justify-content: space-around;
  }
  .complex-content {
    display: flex;
    flex-wrap: wrap;
  }
  .complex-right {
    padding-top: 32px;
  }
  .complex-right-btn-wrap {
    text-align: center;
  }
  .complex-right-text {
    padding-left: 0;
  }
}
@media screen and (max-width: 790px) {
  .complex-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.catalog-content {
  padding-top: 64px;
}

.catalog {
  padding-top: 80px;
  padding-bottom: 56px;
}

.catalog-content {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-card {
  width: 200px;
}

.catalog-card-img {
  height: 204px;
}

.catalog-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1350px) {
  .catalog .container {
    padding: 0 24px;
  }
  .catalog-content {
    gap: 16px;
  }
}
@media screen and (max-width: 960px) {
  .catalog-content {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 768px) {
  .catalog {
    padding-top: 48px;
    padding-bottom: 38px;
  }
  .catalog-content {
    justify-content: space-between;
    margin-top: 20px;
  }
  .catalog-card {
    width: calc(50% - 8px);
  }
}
@media screen and (max-width: 576px) {
  .catalog-card-img {
    height: 200px;
  }
  .catalog-btn {
    width: 100%;
  }
}
.shopping-content {
  margin-top: 64px;
  display: flex;
  background-color: #eeeeee;
  border-radius: 50px;
  border: 3px solid rgb(247, 213, 174);
  margin-bottom: 64px;
}
.shopping-left-img {
  width: 80%;
  height: 100%;
}
.shopping-left-img img {
  width: 100%;
}
.shopping-right {
  padding-top: 85px;
  padding-left: 12px;
  max-width: 330px;
}
.shopping-right-btn {
  padding: 12px 24px;
  color: #2b2846;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border-radius: 48px;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 30px;
}
.shopping-right-text {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .shopping-right {
    padding-top: 75px;
  }
}
@media screen and (max-width: 910px) {
  .shopping-content {
    display: flex;
    flex-direction: column;
  }
  .shopping-right-text {
    padding-top: 0;
  }
}
footer {
  background: rgb(42, 37, 75);
}

.ft-top {
  padding-top: 58px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.ft-links {
  display: flex;
  gap: 133px;
  flex-wrap: wrap;
  gap: 109px;
}

.ft-links ol,
li,
a {
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: rgb(255, 255, 255);
}

.ft-links a:hover {
  color: rgb(205, 193, 193);
}

.ft-contact-icon {
  gap: 12px;
}
.ft-contact-icon img {
  padding-right: 4px;
}

.ft-right-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
  color: rgb(255, 255, 255);
}

.ft-right-inp_btn {
  margin-top: 16px;
}

.ft-inp {
  padding: 17px 90px 17px 16px;
  background-color: white;
}

.ft-inp::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgb(190, 188, 197);
}

.ft-btn {
  padding: 14px 32px;
  color: rgb(42, 37, 75);
  background: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;
  margin-left: -6px;
}

.ft-contact-text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.32px;
  color: rgb(247, 213, 174);
  padding-bottom: 16px;
}

.ft-contact-tel {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  color: white;
  padding-bottom: 4px;
}

.ft-contact-add {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  color: white;
}

.ft-contact-icon-text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.32px;
  color: rgb(247, 213, 174);
  padding-bottom: 16px;
}

.ft-bottom {
  border-top: 1px solid white;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.ft-bottom-text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.32px;
  color: white;
}

.ft-bottom-icon {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1270px) {
  .footer .container {
    padding: 0 24px;
  }
  .ft-inp {
    padding: 17px 100px 17px 32px;
  }
}
@media screen and (max-width: 1050px) {
  .ft-top {
    display: flex;
    gap: 40px;
  }
  .ft-right-inp_btn {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 650px) {
  .ft-links {
    gap: 96px;
  }
  .ft-right-inp_btn {
    width: 100%;
    align-items: center;
  }
  .ft-inp {
    padding: 17px 30px 17px 32px;
  }
  .ft-btn {
    padding: 17px 20px;
    margin-top: 0;
  }
}
@media screen and (max-width: 373px) {
  .ft-inp {
    padding: 16px;
  }
  .ft-btn {
    text-align: center;
    margin-left: -4px;
    margin-top: 10px;
    padding: 18px 12px;
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
