.catalog-content {
  padding-top: 64px;
}

.catalog {
  padding-top: 80px;
  padding-bottom: 56px;
}

.catalog-content {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-card {
  width: 200px;
}

.catalog-card-img {
  height: 204px;
}

.catalog-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1350px) {
  .catalog .container {
    padding: 0 24px;
  }
  .catalog-content {
    gap: 16px;
  }
}

@media screen and (max-width: 960px) {
  .catalog-content {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {
  .catalog {
    padding-top: 48px;
    padding-bottom: 38px;
  }
  .catalog-content {
    justify-content: space-between;
    margin-top: 20px;
  }
  .catalog-card {
    width: calc(50% - 8px);
  }
}

@media screen and (max-width: 576px) {
  .catalog-card-img {
    height: 200px;
  }
  .catalog-btn {
    width: 100%;
  }
}
