.complex {
  padding-top: 64px;
  padding-bottom: 43px;

  &-title {
  }
  &-content {
    display: flex;
  }
  &-left {
    // width: 40%;
    display: flex;
    justify-content: center;
    gap: 32px;

    &-card {
      background-color: rgba(255, 255, 255, 1);
      width: 222px;
      padding: 0 42px;
      &-img {
        padding-top: 16px;
        padding-left: 42px;
        padding-right: 42px;
      }
      &-text {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        width: 168px;
      }
      &-btn {
        button {
          font-family: Helvetica;
          font-size: 14px;
          font-weight: 400;
          line-height: 19.32px;
          border: 2px solid rgba(204, 157, 105, 1);
          border-radius: 6px;
          color: rgba(204, 157, 105, 1);
          padding: 8px 12px;
        }
        text-align: center;
        margin-top: 21px;
        margin-bottom: 20px;
      }
    }
  }

  &-right {
    // width: 60  %;
    padding-top: 46px;
    // padding-left: 74px;
    &-text {
      font-family: Helvetica;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.08px;
      margin-bottom: 24px;
      padding-left: 74px;
    }

    &-btn {
      @include btn;
      margin-left: 74px;
    }
  }
}

@media screen and (max-width: 1335px) {
  .complex-right {
    padding-top: 0;
  }
  .complex-right-text {
    padding-left: 40px;
  }
}

@media screen and (max-width: 1240px) {
  .complex-left {
    display: flex;
    justify-content: space-around;
  }
  .complex-content {
    display: flex;
    flex-wrap: wrap;
  }
  .complex-right {
    padding-top: 32px;
    &-btn {
      &-wrap {
        text-align: center;
      }
    }

    &-text {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 790px) {
  .complex-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
  }
  
}
