.emal {
  padding-top: 64px;
  &-content {
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 76px;
    padding-right: 76px;
  }

  &-left {
    width: 800px;
    img {
      width: 100%;
      height: 372px;
    }
  }

  &-right {
    padding-left: 50px;
    &-title {
      padding-top: 26px;
      font-family: Playfair Display;
      font-size: 30px;
      font-weight: 700;
      line-height: 39.99px;
    }
    &-text {
      padding-top: 22px;
      font-family: Helvetica;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.08px;
    }
  }
  &-right-bottom {
    max-width: 630px;
    justify-content: space-between;
    padding-top: 26px;
    display: flex;
    padding-bottom: 16px;

    &-icon-text {
      font-family: Jost;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
@media screen and (max-width: 1280px) {
  .emal {
    &-content {
      padding-left: 0;
      padding-right: 0;
    }

    &-right-bottom {
      padding-top: 32px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .emal {
    padding-top: 36px;

    &-right {
      padding-left: 48px;
      &-title {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .emal {
    padding-top: 36px;

    &-right {
      padding-left: 20px;
    }
    &-right-bottom {
      padding-top: 10;
    }

    &-right-title {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .emal-content {
    display: flex;
    flex-direction: column;
  }
  .emal-left-img {
    text-align: center;
    max-width: 400px;
  }

  .emal-left{
    width: 100%;
    text-align: center;
  }

  .emal-right{
    padding-left:0px ;
  }

  .emal-right-bottom{
    display: flex;
    flex-wrap: wrap;
  }

  .emal-right-bottom-icon{
    padding-bottom: 32px;
  }

  .emal-right-title{
    padding-top: 32px;
  }
}
