footer {
  background: rgba(42, 37, 75, 1);
}
.ft-top {
  padding-top: 58px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 32px;
}
.ft-links {
  display: flex;
  gap: 133px;
  flex-wrap: wrap;
  gap: 109px;
}

.ft-links ol,
li,
a {
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: rgba(255, 255, 255, 1);
}

.ft-links a:hover {
  color: rgb(205, 193, 193);
}

.ft-right {
}

.ft-contact-icon {
  // display: flex;
  gap: 12px;
  img {
    padding-right: 4px;
  }
}

.ft-right-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
  color: rgba(255, 255, 255, 1);
}
.ft-right-inp_btn {
  margin-top: 16px;
}
.ft-inp {
  padding: 17px 90px 17px 16px;
  background-color: white;
}
.ft-inp::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgba(190, 188, 197, 1);
}
.ft-btn {
  padding: 14px 32px;
  color: rgba(42, 37, 75, 1);
  background: linear-gradient(
    92.1deg,
    #ffe2c1 3.88%,
    #ffc481 26.11%,
    #ffcc91 92.18%
  );
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;

  margin-left: -6px;
}

.ft-contact-text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.32px;
  color: rgba(247, 213, 174, 1);
  padding-bottom: 16px;
}

.ft-contact-tel {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  color: white;
  padding-bottom: 4px;
}
.ft-contact-add {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  color: white;
}

.ft-contact-icon-text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.32px;
  color: rgba(247, 213, 174, 1);
  padding-bottom: 16px;
}

.ft-bottom {
  border-top: 1px solid white;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}
.ft-bottom-text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.32px;
  color: white;
  // text-align: left;
}
.ft-bottom-icon {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1270px) {
  .footer .container {
    padding: 0 24px;
  }

  .ft-inp {
    padding: 17px 100px 17px 32px;
  }
}

@media screen and (max-width: 1050px) {
  .ft-top {
    display: flex;
    gap: 40px;
  }

  .ft-right-inp_btn {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 650px) {
  .ft-links {
    gap: 96px;
  }
  .ft-right-inp_btn {
    width: 100%;
    align-items: center;
  }

  .ft-inp {
    padding: 17px 30px 17px 32px;
  }

  .ft-btn {
    padding: 17px 20px;
    margin-top: 0;
  }
}

@media screen and (max-width: 373px) {
  .ft-inp {
    padding: 16px;
  }

  .ft-btn {
    text-align: center;
    margin-left: -4px;
    margin-top: 10px;
    padding: 18px 12px;
    font-size: 10px;
  }
}
