.hero {
  &-content {
    padding-top: 78px;
    padding-bottom: 50px;
  }
  &-title {
    max-width: 650px;
    font-size: 32px;
    font-weight: 700;
    line-height: 42.66px;
    color:$text-color;
  }
  &-text {
    color:$text-color;
    padding-top: 32px;
    max-width: 650px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.08px;
  }
  &-btn {
    @include btn;
    margin-top: 32px;
  }
}

@media screen and (max-width: 1280px) {
  .hero {
    &-content {
      padding-top: 38px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    &-title {
      font-size: 28px;
      line-height: 37.32px;
    }
    &-text{
      line-height: 20px;
    }
  }
}


@media screen and (max-width: 365px) {
  .hero {
    &-content{
      padding-top: 20px;
    }
    &-title {
      font-size: 28px;
      line-height: 37.32px;
    }
    &-text{
      line-height: 20px;
    }
  }
}
