.nav {
  border-bottom: 5px solid $gold;
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    display: inline-block;
    bottom: 8px;
    left: 0;
    border-bottom: 5px solid $gold;
  }
  &-content {
    display: flex;
    align-items: center;
    gap: 47px;
    padding: 36px 0;
  }

  &-logo {
    padding: 0px 0;
  }
  &-link {
    display: flex;
    align-items: center;
    gap: 30px;
    &_item {
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}

.nav-burger{
  display: none;
}

@media screen and (max-width: 1280px) {
  .nav {
    .container {
      padding-left: 36px;
      padding-right: 36px;
    }
    &-content {
      flex-wrap: wrap;
      gap: 30px;
      padding: 36px 0;
    }
    &-logo {
      padding: 0 0 16px 0;
    }
   
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    &-content{
      gap: 20px;
    }
    &-link {
      &_item {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .nav {
    &-content {
      gap: 0px;
      flex-wrap: wrap;
      padding: 36px 0;
    }
  }
}

@media screen and (max-width: 790px) {
  .nav {
    &-logo {
      padding: 0;
    }
    &-content {
      justify-content: space-between;
    }
    &-link {
      display: none;
    }
    &-burger {
      display: block;
    }
  }
}

@media screen and (max-width: 375px) {
  .nav {
    .container {
      padding: 0 20px;
    }
    &-content {
      padding: 20px 0;
    }
  }
}
