.news {
  background-image: url("../../assets/background/img.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: 100%;
  height: 490px;
  &-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 36%;
    padding-top: 178px;
    position: relative;
    padding-bottom: 48px;
  }
  .news-right-img {
    position: absolute;
    z-index: 2;
    padding-top: 108px;
  }
  &-right-card {
    background-color: rgba(0, 0, 0, 0.85);
    width: 420px;
    margin-bottom: 202px;
    position: absolute;
    margin-top: 439px;
    margin-left: 135px;

    &_item {
      background-color: rgba(255, 70, 70, 1);
      padding: 4px 8px;
      text-align: center;
      font-family: Helvetica;
      font-size: 12px;
      font-weight: 700;
      line-height: 16.56px;
      color: rgba(255, 255, 255, 1);
      margin-top: 46px;
      margin-left: 241px;
    }

    &-text {
      padding-top: 10px;
      padding-bottom: 45px;
      font-family: Playfair Display;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      color: rgba(255, 255, 255, 1);
      width: 194px;
      margin-left: 183px;
      margin-right: 80px;
    }

    &-btn {
      @include btn;
      margin-left: 206px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .news-right-img {
    width: 500px;
  }
}

@media screen and (max-width: 1280px) {
  .news-right-img {
    width: 400px;
  }
  .news-right-card-btn {
    margin-top: -20px;
    font-size: 14px;
  }
  .news-right-card_item {
    margin-top: 8px;
  }
  .news-right-card-text {
    margin-left: 200px;
    line-height: 20px;
    font-size: 24px;
  }
}

@media screen and (max-width: 970px) {
  .news-right-card {
    // margin-left: 68px;
    margin-left: 154px;
    width: 320px;
    margin-top: 390px;
  }
  .news-right-img {
    width: 300px;
  }
  .news-right-card-btn {
    margin-top: -20px;
    font-size: 12px;
    margin-left: 122px;
  }
  .news-right-card_item {
    margin-top: 6px;
    margin-left: 138px;
  }
  .news-right-card-text {
    line-height: 20px;
    font-size: 22px;
    padding-right: 60px;
    margin-left: 116px;
  }
}

@media screen and (max-width: 885px) {
  .news-right-card {
    // margin-left: 68px;
    margin-left: 82px;
    width: 210px;
    margin-top: 390px;
  }
  .news-right {
    padding-left: 22%;
  }

  .news-right-img {
    // width: 260px;
    width: 190px;
    padding-top: 220px;
  }

  .news-right-card-btn {
    font-size: 12px;
    margin-left: 80px;
    font-size: 12px;
    padding: 10px 12px;
  }
  .news-right-card_item {
    margin-top: 6px;
    margin-left: 90px;
    font-size: 10px;
  }
  .news-right-card-text {
    line-height: 16px;
    font-size: 18px;
    padding-right: 60px;
    margin-left: 74px;
  }
  .news {
    height: 226px;
  }

  .news-right {
    padding-top: 0;
  }
}

@media screen and (max-width: 760px) {
  .news .news-right-img {
    position: absolute;
    z-index: 2;
    padding-top: 136px;
    width: 130px;
  }

  .news-right-card {
    width: 150px;
    // height: 110px;
  }

  .news-right {
    padding-left: 0%;
  }

  .news-right-card-text {
    font-size: 12px;
    line-height: 18px;
    margin-left: 36px;
  }

  .news-right-card_item {
    margin-left: 60px;
  }

  .news-right-card-btn {
    margin-left: 44px;
  }

  .news-right-card {
    margin-top: 486px;
    // height: 100px;
  }
}

@media screen and (max-width: 415px) {
  .news {
    height: 130px;
  }
  .news-right-card {
    display: none;
  }

  .news-right-img {
    padding-top: 226px;
  }
  .news-right{
    padding-left: 32%
    // padding-bottom:32px;
  }
}

