.shopping {
  &-content {
    margin-top: 64px;
    display: flex;
    background-color: #eeeeee;
    border-radius: 50px;
    border: 3px solid rgba(247, 213, 174, 1);
    margin-bottom: 64px;
  }
  &-left {

    &-img{
        width: 80%;
        height: 100%;
        img{
            width: 100%;
        }
    }

  }

  &-right {
    padding-top: 85px;
    padding-left: 12px;
    max-width: 330px;

    &-btn {
      @include btn;
      margin-top: 24px;
      margin-bottom: 30px;
    }

    &-text {
      font-family: Helvetica;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.08px;
      text-align: left;
    }
  }
}

@media screen and (max-width: 1280px) {
  .shopping-right {
    padding-top: 75px;
  }
}

@media screen and (max-width: 910px) {
  .shopping-content{
    display: flex;
    flex-direction: column;
  }

  .shopping-right-text{
    padding-top: 0;
  }
 

}
