*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color:$text-color;
}
body{
    background-color:#F3F2F3;
}


header{
    background-color:white;
}

button,input{
    background: none;
    border: none;
    outline: none;
    &:focus{
        outline: none;
    }
}

ul,li{
    list-style-type: none;

}

a{
    display:inline-block;
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}


.container{
    max-width: 1344px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}